/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Color Variables */
.up .notification-loading {
  padding: 40px;
  margin: 40px 0;
  background: url("../images/loading.gif") no-repeat 50% 50%;
}
.up .notification-options {
  overflow: auto;
}
.up .notification-options .notification-options p a.active {
  color: #333333 !important;
  text-decoration: none !important;
}
.up .notification-options .notification-date-filter {
  float: left;
}
.up .notification-options .notification-refresh {
  float: right;
}
.up .notification-portlet-wrapper {
  overflow: auto;
}
.up .notification-portlet-wrapper .notification-container .notification-trigger {
  margin-bottom: 5px;
}
.up .notification-portlet-wrapper .notification-container .notification-trigger h3 {
  margin: 0;
  font-weight: normal !important;
  border: none;
  color: #333333;
}
.up .notification-portlet-wrapper .notification-container .notification-trigger.disabled h3 {
  color: #808080 !important;
}
.up .notification-portlet-wrapper .notification-container .notification-content {
  padding-bottom: 10px;
}
.up .notification-portlet-wrapper .notification-container .notification-content ul {
  margin: 0;
}
.up .notification-portlet-wrapper .notification-container .notification-content ul li {
  list-style: none !important;
  line-height: 18px;
  font-size: 16px;
  margin: 10px 0;
}
.up .notification-portlet-wrapper .notification-container .notification-content .notification-due-date {
  color: #666666;
}
.up .notification-portlet-wrapper .notification-container .notification-content .notification-due-date.overdue {
  color: #990000;
}
.up .notification-portlet-wrapper .notification-detail-wrapper {
  padding: 20px 20px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper h3 {
  margin-bottom: 3px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button {
  float: left;
  margin-bottom: 18px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #cccccc;
  color: #191919 !important;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #e3eef2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(228, 238, 242, 0.5)), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, rgba(228, 238, 242, 0.5), #ffffff);
  background: -moz-linear-gradient(center bottom, rgba(228, 238, 242, 0.5) 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, rgba(228, 238, 242, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='rgba(228, 238, 242, 0.5)', GradientType=0);
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button span {
  font-weight: normal !important;
  color: #4d4d4d !important;
  margin-bottom: 0 !important;
  padding-left: 15px;
  background: url("../images/bullet-left.png") no-repeat left 50%;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button.hover,
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button.active {
  background: #c1d8e1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(193, 216, 225, 0.5)), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, rgba(193, 216, 225, 0.5), #ffffff);
  background: -moz-linear-gradient(center bottom, rgba(193, 216, 225, 0.5) 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, rgba(193, 216, 225, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='rgba(193, 216, 225, 0.5)', GradientType=0);
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-detail-container {
  clear: left;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-detail-container p {
  font-size: 16px;
  line-height: 18px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-source {
  font-family: georgia, serif;
  font-size: 10px;
  color: #808080;
  font-style: italic;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-source a {
  color: #808080 !important;
  text-decoration: none !important;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-source a:hover {
  color: #808080 !important;
  text-decoration: underline !important;
}
.up .notification-portlet-wrapper .no-notifications-container {
  padding: 20px 20px;
}
.up .notification-portlet-wrapper .no-notifications-container h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  color: #333333 !important;
  text-align: center;
}
.up .notification-portlet-wrapper .notification-trigger {
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #333333;
}
.up .notification-portlet-wrapper .portlet-msg-error {
  margin-top: 10px;
  overflow: auto;
}
.up .notification-portlet-wrapper .portlet-msg-error .remove {
  display: block;
  float: right;
  background: url("../images/cross.png") no-repeat top left;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.up .accordion .notification-trigger {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #cccccc !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #e3eef2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(228, 238, 242, 0.5)), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, rgba(228, 238, 242, 0.5), #ffffff);
  background: -moz-linear-gradient(center bottom, rgba(228, 238, 242, 0.5) 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, rgba(228, 238, 242, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='rgba(228, 238, 242, 0.5)', GradientType=0);
}
.up .accordion .notification-trigger h3 {
  color: #3d6d7f !important;
  font-weight: normal !important;
  border: none;
}
.up .accordion .notification-trigger .trigger-symbol {
  padding-left: 15px;
  background: url("../images/bullet-right.png") no-repeat left 50%;
}
.up .accordion .notification-trigger.active,
.up .accordion .notification-trigger.hover {
  background: #c1d8e1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(193, 216, 225, 0.5)), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, rgba(193, 216, 225, 0.5), #ffffff);
  background: -moz-linear-gradient(center bottom, rgba(193, 216, 225, 0.5) 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, rgba(193, 216, 225, 0.5));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='rgba(193, 216, 225, 0.5)', GradientType=0);
}
.up .accordion .notification-trigger.active h3,
.up .accordion .notification-trigger.hover h3 {
  background-image: url("../images/bullet-down.png");
  color: #3d6d7f !important;
}
