/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/* Mixin */
/**
 * Override since the portlet.css is overriding the table class with its !important statement
 */
.bootstrap-styles .table-bordered,
.bootstrap-styles .table-bordered > thead > tr > th,
.bootstrap-styles .table-bordered > tbody > tr > th,
.bootstrap-styles .table-bordered > tfoot > tr > th,
.bootstrap-styles .table-bordered > thead > tr > td,
.bootstrap-styles .table-bordered > tbody > tr > td,
.bootstrap-styles .table-bordered > tfoot > tr > td {
  border: 1px solid #ddd !important;
}
.bootstrap-styles .checkbox label {
  word-wrap: break-word;
}
.fl-theme-mist .job-postings th {
  border: none;
  background-color: transparent;
}
.fl-fix {
  overflow: hidden;
}
.fl-widget .fl-widget-content {
  overflow: hidden;
}
/** End over-rides **/
.job-postings {
  position: relative;
}
.job-postings #loading {
  background-color: #fff;
  z-index: 999;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5em;
}
.job-postings .source {
  border: 1px solid #ccc;
}
.job-postings .table-responsive {
  margin-top: 20px;
}
.job-postings .toggleCheckbox {
  padding-left: 0;
}
.job-postings .toggleCheckbox label {
  font-weight: normal;
}
.job-postings .toggleCheckbox label input {
  margin-right: 5px;
}
.job-postings div.dataTables_length label {
  font-weight: normal;
}
.job-postings div.dataTables_length select {
  width: 75px;
}
.job-postings div.dataTables_info {
  padding-top: 8px;
}
.job-postings div.dataTables_paginate {
  float: right;
  margin: 0;
}
.job-postings table.table thead .sorting,
.job-postings table.table thead .sorting_asc,
.job-postings table.table thead .sorting_desc,
.job-postings table.table thead .sorting_asc_disabled,
.job-postings table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}
.job-postings table.table thead .sorting {
  background: url('../images/sort_both.png') no-repeat center right;
}
.job-postings table.table thead .sorting_asc {
  background: url('../images/sort_asc.png') no-repeat center right;
}
.job-postings table.table thead .sorting_desc {
  background: url('../images/sort_desc.png') no-repeat center right;
}
.job-postings table.table thead .sorting_asc_disabled {
  background: url('../images/sort_asc_disabled.png') no-repeat center right;
}
.job-postings table.table thead .sorting_desc_disabled {
  background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
.job-postings table.dataTable th:active {
  outline: none;
}
.job-postings .small-text {
  font-size: 80%;
}
.job-postings .jobs-table tbody tr td:nth-child(1) {
  text-align: center;
}
.job-postings .jobs-table tbody tr td:nth-child(2) {
  font-size: 130%;
  padding-top: 13px;
  text-align: center;
}
.job-postings .jobs-table tbody tr td:nth-child(2) a i.fa-star {
  color: #fc3;
}
.job-postings .jobs-table tbody tr td:nth-child(2) a:hover i.fa-star {
  color: #ccc;
}
.job-postings .jobs-table tbody tr td:nth-child(2) a i.fa-star-o {
  color: #ccc;
}
.job-postings .jobs-table tbody tr td:nth-child(2) a:hover i.fa-star-o {
  color: #999;
}
.job-postings .sorting {
  color: #428bca;
}
.job-postings .search-filter ul {
  margin: 0;
  padding: 0;
}
.job-postings .search-separator {
  font-size: 15px;
  color: #999;
  text-align: center;
  padding-top: 50px;
  white-space: nowrap;
}
.job-postings .searchControls {
  margin-bottom: 2em;
  border: 1px solid #efefef;
  background-color: #f9f9f9;
  padding-bottom: 10px;
  height: 200px;
  border-radius: 4px;
}
.job-postings .searchControls ul {
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}
.job-postings .searchControls ul li:first-child {
  margin-top: 0;
}
.job-postings button,
.job-postings button:hover {
  background: none;
  background-image: none;
  text-shadow: none;
}
.job-postings .pagination {
  margin-top: 0;
}
.job-details #modal-overlay {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 5em;
  padding-top: 10em;
  display: none;
}
.job-details .sidebar {
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  padding: 5px;
}
.job-details .sidebar div {
  white-space: nowrap;
}
.job-details .sidebar hr {
  border-color: #efefef;
  margin: 10px -5px;
}
.job-details .sidebar .closingDate {
  color: #999;
  font-size: 14px;
  margin-top: 20px;
}
.job-details button,
.job-details button:hover {
  background: none;
  background-image: none;
  text-shadow: none;
}
/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#floatingCirclesG {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.f_circleG {
  position: absolute;
  background-color: #ffffff;
  height: 18px;
  width: 18px;
  -moz-border-radius: 9px;
  -moz-animation-name: f_fadeG;
  -moz-animation-duration: 1.28s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: linear;
  -webkit-border-radius: 9px;
  -webkit-animation-name: f_fadeG;
  -webkit-animation-duration: 1.28s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  -ms-border-radius: 9px;
  -ms-animation-name: f_fadeG;
  -ms-animation-duration: 1.28s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-direction: linear;
  -o-border-radius: 9px;
  -o-animation-name: f_fadeG;
  -o-animation-duration: 1.28s;
  -o-animation-iteration-count: infinite;
  -o-animation-direction: linear;
  border-radius: 9px;
  animation-name: f_fadeG;
  animation-duration: 1.28s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
#frotateG_01 {
  left: 0;
  top: 41px;
  -moz-animation-delay: 0.48s;
  -webkit-animation-delay: 0.48s;
  -ms-animation-delay: 0.48s;
  -o-animation-delay: 0.48s;
  animation-delay: 0.48s;
}
#frotateG_02 {
  left: 12px;
  top: 12px;
  -moz-animation-delay: 0.64s;
  -webkit-animation-delay: 0.64s;
  -ms-animation-delay: 0.64s;
  -o-animation-delay: 0.64s;
  animation-delay: 0.64s;
}
#frotateG_03 {
  left: 41px;
  top: 0;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
#frotateG_04 {
  right: 12px;
  top: 12px;
  -moz-animation-delay: 0.96s;
  -webkit-animation-delay: 0.96s;
  -ms-animation-delay: 0.96s;
  -o-animation-delay: 0.96s;
  animation-delay: 0.96s;
}
#frotateG_05 {
  right: 0;
  top: 41px;
  -moz-animation-delay: 1.12s;
  -webkit-animation-delay: 1.12s;
  -ms-animation-delay: 1.12s;
  -o-animation-delay: 1.12s;
  animation-delay: 1.12s;
}
#frotateG_06 {
  right: 12px;
  bottom: 12px;
  -moz-animation-delay: 1.28s;
  -webkit-animation-delay: 1.28s;
  -ms-animation-delay: 1.28s;
  -o-animation-delay: 1.28s;
  animation-delay: 1.28s;
}
#frotateG_07 {
  left: 41px;
  bottom: 0;
  -moz-animation-delay: 1.44s;
  -webkit-animation-delay: 1.44s;
  -ms-animation-delay: 1.44s;
  -o-animation-delay: 1.44s;
  animation-delay: 1.44s;
}
#frotateG_08 {
  left: 12px;
  bottom: 12px;
  -moz-animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
  -ms-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
@-moz-keyframes f_fadeG {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes f_fadeG {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@-ms-keyframes f_fadeG {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@-o-keyframes f_fadeG {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
@keyframes f_fadeG {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: #ffffff;
  }
}
