/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.up .notification-loading {
  padding: 40px;
  margin: 40px 0;
  background: url("../images/loading.gif") no-repeat 50% 50%;
}
.up .notification-options {
  overflow: auto;
}
.up .notification-options .notification-date-filter {
  float: left;
}
.up .notification-options .notification-refresh {
  float: right;
}
.up .notification-portlet-wrapper {
  overflow: auto;
}
.up .notification-portlet-wrapper .notification-container .notification-trigger {
  margin-bottom: 5px;
}
.up .notification-portlet-wrapper .notification-container .notification-trigger h3 {
  padding-top: 0;
}
.up .notification-portlet-wrapper .notification-container .notification-content {
  padding-bottom: 10px;
}
.up .notification-portlet-wrapper .notification-container .notification-content ul {
  margin: 0;
}
.up .notification-portlet-wrapper .notification-detail-wrapper {
  padding: 20px 20px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button {
  float: left;
  margin-bottom: 18px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-detail-container {
  clear: left;
}
.up .notification-portlet-wrapper .no-notifications-container {
  padding: 20px 20px;
}
.up .notification-portlet-wrapper .portlet-msg-error {
  margin-top: 10px;
}

.up .notification-options p a.active {
  color: #333 !important;
  text-decoration: none !important;
}
.up .notification-portlet-wrapper .notification-trigger h3 {
  margin: 0;
  padding: 0;
  font-weight: normal !important;
  border: none;
  color: #333;
}
.up .notification-portlet-wrapper .notification-trigger.disabled h3 {
  color: #888 !important;
}
.up .notification-portlet-wrapper .notification-content li {
  list-style: none !important;
  line-height: 18px;
  font-size: 11px;
}
.up .notification-portlet-wrapper .notification-content .notification-due-date {
  color: #666;
}
.up .notification-portlet-wrapper .notification-content .notification-due-date.overdue {
  color: red;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button {
  cursor: pointer;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button span {
  font-weight: normal !important;
  color: #444 !important;
  margin-bottom: 0 !important;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-detail-container p {
  font-size: 11px;
  line-height: 18px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-source {
  font-family: georgia, serif;
  font-size: 10px;
  color: #888;
  font-style: italic;
  margin-top: -11px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-source a {
  color: #888 !important;
  text-decoration: none !important;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-source a:hover {
  color: #888 !important;
  text-decoration: underline !important;
}
.up .notification-portlet-wrapper .notification-detail-wrapper h3 {
  margin-bottom: 3px;
}
.up .notification-portlet-wrapper .no-notifications-container h3 {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  color: #333 !important;
  text-align: center;
}

.up .notification-portlet-wrapper {
  overflow: auto;
}
.up .notification-portlet-wrapper .notification-trigger {
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #333;
}
.up .notification-portlet-wrapper .notification-detail-wrapper {
  padding: 20px 20px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button {
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
  color: #111 !important;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: -moz-linear-gradient(top, rgba(243, 248, 249, 0) 0%, rgba(243, 248, 249, 0.16) 16%, rgba(228, 238, 242, 0.56) 56%, #e4eef2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 248, 249, 0)), color-stop(16%, rgba(243, 248, 249, 0.16)), color-stop(56%, rgba(228, 238, 242, 0.56)), color-stop(100%, #e4eef2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(243, 248, 249, 0) 0%, rgba(243, 248, 249, 0.16) 16%, rgba(228, 238, 242, 0.56) 56%, #e4eef2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(243, 248, 249, 0) 0%, rgba(243, 248, 249, 0.16) 16%, rgba(228, 238, 242, 0.56) 56%, #e4eef2 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(243, 248, 249, 0) 0%, rgba(243, 248, 249, 0.16) 16%, rgba(228, 238, 242, 0.56) 56%, #e4eef2 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f3f8f9', endColorstr='#e4eef2',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, rgba(243, 248, 249, 0) 0%, rgba(243, 248, 249, 0.16) 16%, rgba(228, 238, 242, 0.56) 56%, #e4eef2 100%);
  /* W3C */
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button.active, .up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button.hover {
  background: -moz-linear-gradient(top, rgba(224, 237, 240, 0) 0%, rgba(224, 237, 240, 0.16) 16%, rgba(189, 213, 223, 0.56) 56%, #bdd5df 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(224, 237, 240, 0)), color-stop(16%, rgba(224, 237, 240, 0.16)), color-stop(56%, rgba(189, 213, 223, 0.56)), color-stop(100%, #bdd5df));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(224, 237, 240, 0) 0%, rgba(224, 237, 240, 0.16) 16%, rgba(189, 213, 223, 0.56) 56%, #bdd5df 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(224, 237, 240, 0) 0%, rgba(224, 237, 240, 0.16) 16%, rgba(189, 213, 223, 0.56) 56%, #bdd5df 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(224, 237, 240, 0) 0%, rgba(224, 237, 240, 0.16) 16%, rgba(189, 213, 223, 0.56) 56%, #bdd5df 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00e0edf0', endColorstr='#bdd5df',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, rgba(224, 237, 240, 0) 0%, rgba(224, 237, 240, 0.16) 16%, rgba(189, 213, 223, 0.56) 56%, #bdd5df 100%);
  /* W3C */
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button span {
  padding-left: 15px;
  background: url("../images/bullet-left.png") no-repeat left 50%;
}
.up .notification-portlet-wrapper .notification-error-container .portlet-msg-error {
  overflow: auto;
}
.up .notification-portlet-wrapper .notification-error-container .portlet-msg-error .remove {
  display: block;
  float: right;
  background: url("../images/cross.png") no-repeat top left;
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.up .notification-portlet-wrapper.accordion .notification-trigger {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: -moz-linear-gradient(top, rgba(243, 248, 249, 0) 0%, rgba(243, 248, 249, 0.16) 16%, rgba(228, 238, 242, 0.56) 56%, #e4eef2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(243, 248, 249, 0)), color-stop(16%, rgba(243, 248, 249, 0.16)), color-stop(56%, rgba(228, 238, 242, 0.56)), color-stop(100%, #e4eef2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(243, 248, 249, 0) 0%, rgba(243, 248, 249, 0.16) 16%, rgba(228, 238, 242, 0.56) 56%, #e4eef2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(243, 248, 249, 0) 0%, rgba(243, 248, 249, 0.16) 16%, rgba(228, 238, 242, 0.56) 56%, #e4eef2 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(243, 248, 249, 0) 0%, rgba(243, 248, 249, 0.16) 16%, rgba(228, 238, 242, 0.56) 56%, #e4eef2 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f3f8f9', endColorstr='#e4eef2',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, rgba(243, 248, 249, 0) 0%, rgba(243, 248, 249, 0.16) 16%, rgba(228, 238, 242, 0.56) 56%, #e4eef2 100%);
  /* W3C */
}
.up .notification-portlet-wrapper.accordion .notification-trigger.active, .up .notification-portlet-wrapper.accordion .notification-trigger.hover {
  background: -moz-linear-gradient(top, rgba(224, 237, 240, 0) 0%, rgba(224, 237, 240, 0.16) 16%, rgba(189, 213, 223, 0.56) 56%, #bdd5df 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(224, 237, 240, 0)), color-stop(16%, rgba(224, 237, 240, 0.16)), color-stop(56%, rgba(189, 213, 223, 0.56)), color-stop(100%, #bdd5df));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(224, 237, 240, 0) 0%, rgba(224, 237, 240, 0.16) 16%, rgba(189, 213, 223, 0.56) 56%, #bdd5df 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(224, 237, 240, 0) 0%, rgba(224, 237, 240, 0.16) 16%, rgba(189, 213, 223, 0.56) 56%, #bdd5df 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(224, 237, 240, 0) 0%, rgba(224, 237, 240, 0.16) 16%, rgba(189, 213, 223, 0.56) 56%, #bdd5df 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00e0edf0', endColorstr='#bdd5df',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, rgba(224, 237, 240, 0) 0%, rgba(224, 237, 240, 0.16) 16%, rgba(189, 213, 223, 0.56) 56%, #bdd5df 100%);
  /* W3C */
}
.up .notification-portlet-wrapper.accordion .notification-trigger.active h3, .up .notification-portlet-wrapper.accordion .notification-trigger.hover h3 {
  background-image: url("../images/bullet-down.png");
  color: #3c5560 !important;
}
.up .notification-portlet-wrapper.accordion .notification-trigger h3 {
  color: #3d4e55 !important;
  font-weight: normal !important;
  border: none;
}
.up .notification-portlet-wrapper.accordion .notification-content ul {
  margin: 0;
  padding-left: 11px;
}
.up .notification-portlet-wrapper.accordion .trigger-symbol {
  padding-left: 15px;
  background: url("../images/bullet-right.png") no-repeat left 50%;
}
