.up .notification-loading {
  padding: 40px;
  margin: 40px 0;
  background: url("../images/loading.gif") no-repeat 50% 50%;
}
.up .notification-portlet-wrapper {
  overflow: auto;
}
.up .notification-portlet-wrapper .notification-options {
  overflow: auto;
}
.up .notification-portlet-wrapper .notification-options .notification-date-filter {
  float: left;
}
.up .notification-portlet-wrapper .notification-options .notification-refresh {
  float: right;
}
.up .notification-portlet-wrapper .notification-container .notification-trigger {
  margin-bottom: 10px;
  cursor: pointer;
}
.up .notification-portlet-wrapper .notification-container .notification-trigger h3 {
  padding-top: 0;
}
.up .notification-portlet-wrapper .notification-container .notification-content {
  padding-bottom: 10px;
}
.up .notification-portlet-wrapper .notification-container .notification-content ul {
  margin: 0;
}
.up .notification-portlet-wrapper .notification-detail-wrapper {
  padding: 20px 20px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button {
  overflow: auto;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button a {
  display: block;
  float: left;
}
.up .notification-portlet-wrapper .portlet-msg-error {
  margin-top: 10px;
}

.up .notification-portlet-wrapper p {
  font-size: 11px;
  line-height: 18px;
}
.up .notification-portlet-wrapper .notification-options p a.active {
  color: #333 !important;
  text-decoration: none !important;
}
.up .notification-portlet-wrapper .notification-trigger.hover h3, .up .notification-portlet-wrapper .notification-trigger.active h3 {
  color: #000 !important;
}
.up .notification-portlet-wrapper .notification-trigger h3 {
  color: #444 !important;
  font-weight: normal !important;
  border: none;
}
.up .notification-portlet-wrapper .notification-trigger.disabled h3 {
  color: #888 !important;
}
.up .notification-portlet-wrapper .notification-content li {
  list-style: none !important;
  line-height: 18px;
  font-size: 11px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button a:link, .up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button a:visited {
  font-weight: normal !important;
  color: #444 !important;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button a:hover {
  color: #000 !important;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-source {
  font-family: georgia, serif;
  font-size: 10px;
  color: #888;
  font-style: italic;
  margin-top: -11px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-source a {
  color: #888 !important;
  text-decoration: none !important;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-source a:hover {
  color: #888 !important;
  text-decoration: underline !important;
}
.up .notification-portlet-wrapper .notification-detail-wrapper h3 {
  margin-bottom: 3px;
}

.up .notification-portlet-wrapper {
  overflow: auto;
}
.up .notification-portlet-wrapper .notification-container .notification-trigger {
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
.up .notification-portlet-wrapper .notification-container .notification-trigger.active, .up .notification-portlet-wrapper .notification-container .notification-trigger.hover {
  border-color: #000 !important;
}
.up .notification-portlet-wrapper .notification-container .notification-trigger.active h3 {
  background-image: url("../images/bullet-down.png");
}
.up .notification-portlet-wrapper .notification-container .notification-trigger .trigger-symbol {
  padding-left: 15px;
  background: url("../images/bullet-right.png") no-repeat left 50%;
}
.up .notification-portlet-wrapper .notification-container .notification-content ul {
  margin: 0;
  padding-left: 11px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper {
  padding: 20px 20px;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button {
  overflow: auto;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button a {
  padding: 10px;
  padding-left: 25px;
  border: 1px solid #ccc;
  color: #111 !important;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: url("../images/bullet-left.png") no-repeat 10px 50%;
}
.up .notification-portlet-wrapper .notification-detail-wrapper .notification-back-button a:hover {
  border-color: #000 !important;
  text-decoration: none !important;
}
.up .notification-portlet-wrapper .notification-error-container .portlet-msg-error {
  overflow: auto;
}
.up .notification-portlet-wrapper .notification-error-container .portlet-msg-error .remove {
  display: block;
  float: right;
  background: url("../images/cross.png") no-repeat top left;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
