.up-notification--menu-item {
  border-bottom: 1px solid gray;
}

.up-notification--menu-item.up-unread {
  background-color: lightgray;
}

.up-notification--menu-header {
  border-bottom: 2px solid gray;
}
